/* Colors Used: 
#357b70 (Cyan), #006400 (Dark Green), #0000FF (Blue), #05676e (Dark Cyan), #e0b354 (Yellow/Orange), #489c79 (Green), #2b2b2b (Dark grey), #f76414 (Orange)
*/
:root {
	--primary-color:  #357b70;
	--secondary-color: #e0b354;
	--dark-grey: #2b2b2b;
	--blue: #0000FF;
	--dark-green: #006400;
	--green: #489c79;
	--dark-cyan: #05676e;
	--orange: #f76414;
	--text-decoration: none;
	--font-weight: 700;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	/* Sets the font size to 16px*/
	line-height: 1.6;
	color: var(--dark-green);
	/*Sets the line-height to 1.6 */
	background-color:  lightgray;
}

h1 {
	font-size: 30px;
	color: var(--blue);
}

h2 {
	font-size: 24px;
	color: var(--dark-green);
}

h3 {
	font-size: 18px;
	color: var(--primary-color);
}

h1,
h2,
h3 {
	font-weight: var(--font-weight)
}

header {
	font-size: 16px;
	font-weight: 400;
}

footer {
	font-size: 16px;
	font-weight: 400;
}

a {
	color: var(--primary-color);
	transition: 0.8s;
}


a:visited {
	/* visited link */
	color: var(--dark-cyan);

}

a:hover, a:focus {
	/* No underlining when hovering over a link */
	text-decoration: var(--text-decoration);
	opacity: 0.8;
	zoom: 1.2;
	color: var(--orange);

}

a:active {
	/* selected link */
	color: var(--green);
	text-decoration: var(--text-decoration);
}

/*This "%button-shared" is not working in my code for some reason. I take out all the redundant lines from "button, .button" and from ".button1" and leave 
the "@extend %button-shared;", and it removes all formatting from my buttons essentially. I'm just not sure why.*/ 



%button-shared {
	/* overwrites browser defaults and resets the border */
	border: none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and the text decoration (underline, etc.) of the button */
	background-color: var(--primary-color);
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom:  2px solid rgba(0, 0, 0, 0.3);
}

button,
.button {
	/* @extend %button-shared; */ 
	/* overwrites browser defaults and resets the border */
	border:  none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and the text decoration (underline, etc.) of the button */
	background-color: var(--primary-color);
	color:  white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom:  2px solid rgba(0, 0, 0, 0.3);
	display: inline-block;
}
.button1 {
	/* @extend %button-shared; */
	/* overwrites browser defaults and resets the border */
	border:  none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and the text decoration (underline, etc.) of the button */
	background-color: var(--primary-color);
	color:  white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom:  2px solid rgba(0, 0, 0, 0.3);
	text-align: center;
	margin: 0 auto;
	display: block;
	max-width: 150px;
}

.i-am {
	text-align: center;
	justify-content: center;
	margin: auto;
	padding: 20px;
}

.my-info {
	padding-left: 40px;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
	/* lets the mouse appear as a hand when hovering over the button */
	cursor: pointer;
	/* reduces the opacity of the button to 80% */
	opacity: 0.8;
	zoom: 1.2;
}

.button__secondary {
	background-color: var(--secondary-color);
	color: var(--dark-grey);
}

.profile__portrait {
	float: left;
	width: 250px;
	height: auto;
	border-radius: 60%;
	margin: auto 45px;
}

.page-footer {
	clear: both;
}

.profile {
	margin: 0 auto;
	max-width: 700px;
}

* {
	box-sizing: border-box;
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.profile__text {
	flex: 1 1 100px;
}

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header__item {
	flex: 0 1 200px;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
	justify-content: center;
	text-align: right;
}
.navigation-list1 {
	list-style-type: none;
	justify-content: center;
	text-align: center;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active {
	text-decoration: none;
}

.grid {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 300px;
	text-align: center;
	justify-content: center;
	margin: 40px;
}

.grid__item {
	background-color: lightgray;
	margin: 5px;
}

.my-work {
	text-align: center;
	list-style-type: none;
}

.enjoyment {
	text-align: center;
}

@media all and (max-width: 500px) {
	.grid {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 850px) {
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
	.grid__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
}

@keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

.sun {
	animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform:  translate(200px, 50px);
	}
}

.cloud-front {
	animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
	from {
		transform:  translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}

.cloud-back {
	animation: 34s cloud-move-reverse infinite alternate linear;
}