/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Colors Used:
#357b70 (Cyan), #006400 (Dark Green), #0000FF (Blue), #05676e (Dark Cyan), #e0b354 (Yellow/Orange), #489c79 (Green), #2b2b2b (Dark grey), #f76414 (Orange)
*/

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	/* Sets the font size to 16px*/
	line-height: 1.6;
	color: #006400;
	/*Sets the line-height to 1.6 */
	background-color:  lightgray;
}

h1 {
	font-size: 30px;
	color: #0000FF;
}

h2 {
	font-size: 24px;
	color: #006400;
}

h3 {
	font-size: 18px;
	color: #357b70;
}

h1 {
	font-weight: 700
}

h2 {
	font-weight: 700
}

h3 {
	font-weight: 700
}

header {
	font-size: 16px;
	font-weight: 400;
}

footer {
	font-size: 16px;
	font-weight: 400;
}

hr {
	width: 90%;
	border: 1px solid gray;
}

a {
	color: #357b70;
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}


a:visited {
	/* visited link */
	color: #05676e;

}

a:hover {
	/* No underlining when hovering over a link */
	text-decoration: none;
	opacity: 0.8;
	zoom: 1.2;
	color: #f76414;

}

a:focus {
	/* No underlining when hovering over a link */
	text-decoration: none;
	opacity: 0.8;
	zoom: 1.2;
	color: #f76414;

}

a:active {
	/* selected link */
	color: #489c79;
	text-decoration: none;
}

/*This "%button-shared" is not working in my code for some reason. I take out all the redundant lines from "button, .button" and from ".button1" and leave
the "@extend %button-shared;", and it removes all formatting from my buttons essentially. I'm just not sure why.*/



%button-shared {
	/* overwrites browser defaults and resets the border */
	border: none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and the text decoration (underline, etc.) of the button */
	background-color: #357b70;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom:  2px solid rgba(0, 0, 0, 0.3);
}

button {
	/* @extend %button-shared; */
	/* overwrites browser defaults and resets the border */
	border:  none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and the text decoration (underline, etc.) of the button */
	background-color: #357b70;
	color:  white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom:  2px solid rgba(0, 0, 0, 0.3);
	display: inline-block;
}

.button {
	/* @extend %button-shared; */
	/* overwrites browser defaults and resets the border */
	border:  none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and the text decoration (underline, etc.) of the button */
	background-color: #357b70;
	color:  white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom:  2px solid rgba(0, 0, 0, 0.3);
	display: inline-block;
}
.button1 {
	/* @extend %button-shared; */
	/* overwrites browser defaults and resets the border */
	border:  none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and the text decoration (underline, etc.) of the button */
	background-color: #357b70;
	color:  white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom:  2px solid rgba(0, 0, 0, 0.3);
	text-align: center;
	margin: 0 auto;
	display: block;
	max-width: 150px;
}

.i-am {
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: auto;
	padding: 20px;
}

.my-info {
	padding-left: 40px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	/* lets the mouse appear as a hand when hovering over the button */
	cursor: pointer;
	/* reduces the opacity of the button to 80% */
	opacity: 0.8;
	zoom: 1.2;
}

.button__secondary {
	background-color: #e0b354;
	color: #2b2b2b;
}

.profile__portrait {
	float: left;
	width: 250px;
	height: auto;
	border-radius: 60%;
	margin: auto 45px;
}

.page-footer {
	clear: both;
}

.profile {
	margin: 0 auto;
	max-width: 700px;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

.profile__text {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100px;
	        flex: 1 1 100px;
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: right;
}
.navigation-list1 {
	list-style-type: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active {
	text-decoration: none;
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 300px 300px 300px;
	grid-template-columns: 300px 300px 300px;
	-ms-grid-rows: 300px 300px;
	grid-template-rows: 300px 300px;
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 40px;
}

.grid > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.grid > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.grid > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.grid > *:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.grid > *:nth-child(5) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

.grid > *:nth-child(6) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}

.grid__item {
	background-color: lightgray;
	margin: 5px;
}

.my-work {
	text-align: center;
	list-style-type: none;
}

.enjoyment {
	text-align: center;
}

@media all and (max-width: 500px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 850px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
	.grid__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
}

@-webkit-keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

@keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

.sun {
	-webkit-animation: 4s color-change infinite alternate linear;
	        animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform:  translate(200px, 50px);
		        transform:  translate(200px, 50px);
	}
}

@keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform:  translate(200px, 50px);
		        transform:  translate(200px, 50px);
	}
}

.cloud-front {
	-webkit-animation: 30s cloud-move infinite alternate linear;
	        animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
	from {
		-webkit-transform:  translate(446px, 48px);
		        transform:  translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

@keyframes cloud-move-reverse {
	from {
		-webkit-transform:  translate(446px, 48px);
		        transform:  translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

.cloud-back {
	-webkit-animation: 34s cloud-move-reverse infinite alternate linear;
	        animation: 34s cloud-move-reverse infinite alternate linear;
}
